<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.isd720.enrollment-config-helper</string>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>Program</key>
	<string>/private/var/tmp/enrollment_config_helper.sh</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
